{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "plugin:@typescript-eslint/recommended",
    "standard",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "vue",
    "@typescript-eslint"
  ],
  "rules": {
    "prettier/prettier": "error",
    "camelcase": "off",
    "linebreak-style": [
      "off"
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-async-promise-executor": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-undef": "off"
  }
}